In [1]:
#Import the dependencies
import pandas as pd
import gmaps
import requests
#Import the API key
from config import g_key

In [2]:
#Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Cape Town,40,ZA,2020-07-30 01:24:04,93,-33.93,18.42,55.00,6.93
1,1,Acapulco,75,MX,2020-07-30 01:24:04,83,16.86,-99.89,84.20,2.24
2,2,Rikitea,100,PF,2020-07-30 01:24:04,85,-23.12,-134.97,72.99,13.69
3,3,Albany,82,US,2020-07-30 01:24:04,67,42.60,-73.97,73.99,3.94
4,4,Port Alfred,1,ZA,2020-07-30 01:14:08,69,-33.59,26.89,58.48,19.95

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
#Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
#1. Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]]
#2. Assign the weights variable to some values
max_temp = city_data_df["Max Temp"]
#3. Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heatmap_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

#5. Add the heatmap layer
fig.add_layer(heatmap_layer)
#6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heatmap_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimu and maximum temp value
min_temp = float(input("What is the minimu temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimu temperature you would like for your trip?70
What is the maximum temperature you would like for your trip? 95

In [11]:
#Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &  (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,1,Acapulco,75,MX,2020-07-30 01:24:04,83,16.86,-99.89,84.20,2.24
2,2,Rikitea,100,PF,2020-07-30 01:24:04,85,-23.12,-134.97,72.99,13.69
3,3,Albany,82,US,2020-07-30 01:24:04,67,42.60,-73.97,73.99,3.94
8,8,Touros,40,BR,2020-07-30 01:18:06,88,-5.20,-35.46,73.40,9.17
10,10,Hasaki,75,JP,2020-07-30 01:20:45,100,35.73,140.83,73.00,9.17
16,16,Nieuw Amsterdam,20,SR,2020-07-30 01:24:06,78,5.88,-55.08,82.40,8.05
20,20,Bethel,1,US,2020-07-30 01:24:07,74,41.37,-73.41,78.80,6.93
21,21,Tianpeng,100,CN,2020-07-30 01:24:07,99,30.99,103.94,73.00,1.99
22,22,Kitimat,98,CA,2020-07-30 01:24:07,46,54.05,-128.65,73.99,1.63
25,25,Hilo,90,US,2020-07-30 01:24:07,65,19.73,-155.09,82.40,11.41

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Cloudiness    0
Country       0
Date          0
Humidity      0
Lat           0
Lng           0
Max Temp      0
Wind Speed    0
dtype: int64

In [13]:
preferred_cities_df.count()

City_ID       261
City          261
Cloudiness    261
Country       261
Date          261
Humidity      261
Lat           261
Lng           261
Max Temp      261
Wind Speed    261
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
1          Acapulco      MX     84.20  16.86  -99.89
2           Rikitea      PF     72.99 -23.12 -134.97
3            Albany      US     73.99  42.60  -73.97
8            Touros      BR     73.40  -5.20  -35.46
10           Hasaki      JP     73.00  35.73  140.83
16  Nieuw Amsterdam      SR     82.40   5.88  -55.08
20           Bethel      US     78.80  41.37  -73.41
21         Tianpeng      CN     73.00  30.99  103.94
22          Kitimat      CA     73.99  54.05 -128.65
25             Hilo      US     82.40  19.73 -155.09

In [29]:

# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
#Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
 # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
 # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
 #Make request and get the JSON Data fromt the search
    hotels = requests.get(base_url, params=params).json()
 #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Acapulco,MX,84.20,16.86,-99.89,HS Hotsson Smart Acapulco
2,Rikitea,PF,72.99,-23.12,-134.97,Pension Maro'i
3,Albany,US,73.99,42.60,-73.97,
8,Touros,BR,73.40,-5.20,-35.46,INN NEW HORIZON
10,Hasaki,JP,73.00,35.73,140.83,Inubosaki Kanko Hotel
16,Nieuw Amsterdam,SR,82.40,5.88,-55.08,Hotel Stardust
20,Bethel,US,78.80,41.37,-73.41,Courtyard by Marriott Danbury
21,Tianpeng,CN,73.00,30.99,103.94,Shuangliu Love Home Business Hotel
22,Kitimat,CA,73.99,54.05,-128.65,Kingfish Westcoast Adventures Ltd. Kitimat Est...
25,Hilo,US,82.40,19.73,-155.09,Hilo Hawaiian Hotel

In [33]:
#info box 

info_box_template = """"
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))